XMLBasics/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="students">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="student">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="gender" type="xs:string" />
                    <xs:element name="birthdate" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="course" type="xs:string" />
                    <xs:element name="specialty" type="xs:string" />
                    <xs:element name="facultynumber" type="xs:unsignedInt" />
                    <xs:element name="exams">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="exam">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="tutor" type="xs:string" />
                                <xs:element name="score" type="xs:string" />
                                <xs:element maxOccurs="unbounded" name="enrollment">
                                  <xs:complexType>
                                    <xs:sequence>
                                    <!--<xs:element name="enrollment" type="xs:string" />-->
                                      <xs:element name="data" type="xs:string" />
                                      <xs:element name="score" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="teachersendorsements" type="xs:decimal"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>

<!--<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
</xs:schema>
-->